.botao-iniciar {
    display: flex;
    height: 280px;
    width: 280px;
    background-image: url("../img/botao_principal_1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.botao-iniciar:hover {
    transform: scale(1.1);
}

.botao-iniciar.clicado {
    background-image: url("../img/botao_principal_2.png");
}

@media (min-width: 768px) {
    .botao-iniciar {
        height: 350px;
        width: 350px;
    }
}

@media (min-width: 1200px) {
    .botao-iniciar {
        height: 500px;
        width: 500px;
    }
}


.parte {
    position: relative;
    max-height: 100%;
}

/*
    parte 2
 */
.parte-2 .marrecos {
    height: 100%;
    width: 150%;
    object-fit: contain;
    z-index: 0;
}

.parte-2 .card .form-group {
    position: relative;
    display: flex;
}

.parte-2 .card .form-group label {
    display: flex;
    position: absolute;
    bottom: 12px;
    left: 44px;
    font-weight: 800;
    font-size: 20px;
}

.parte-2 .card .form-group img {
    left: -58px;
    bottom: -34px;
    position: absolute;
    height: 120px;
    width: 120px;
    object-fit: contain;
}

.parte-2 .card .form-group input {
    border: 3px solid;
    font-weight: 700;
    height: 52px;
    border-radius: 0 999px 999px 0;
}

.parte-2 .card .form-group input[name="nome"] {
    border-color: #22AFFF;
    padding-left: 118px;
}

.parte-2 .card .form-group input[name="idade"] {
    border-color: #7FC62B;
    padding-left: 118px;
}

.parte-2 .card .form-group input[name="escola"] {
    border-color: #F1483C;
    padding-left: 130px;
}

/** parte 3 **/
.parte-3 .marrecos {
    transform: scaleX(-1);
    height: 100%;
    width: 150%;
    object-fit: contain;
    z-index: 0;
}

.parte-3 .alternativas .card {
    height: 400px;
    width: 400px;
}