.botao-iniciar {
    display: flex;
    height: 280px;
    width: 280px;
    background-image: url("../img/botao_principal_1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.botao-iniciar.clicado {
    background-image: url("../img/botao_principal_2.png");
}

@media (min-width: 768px) {
    .botao-iniciar {
        height: 350px;
        width: 350px;
    }
}

@media (min-width: 1200px) {
    .botao-iniciar {
        height: 500px;
        width: 500px;
    }
}


.parte {
    position: relative;
}

/*
    parte 2
 */
.parte-2 .marrecos {
    height: 100%;
    position: absolute;
    z-index: 0;

}