body {
    background-image: url('../img/fundo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.conteudo {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 40px;
    border-radius: 15px;
}

@font-face {
    font-family: 'chewy_bubble';
    src: url(../fontes/chewy_bubble.otf);
}

* {
    text-transform: uppercase !important;
}

.colorido {
    font-family: 'chewy_bubble', serif;
    margin: 0;
    padding: 0;
    text-shadow: -3px -3px 0 white, 0 -3px 0 white, 3px -3px 0 white, 3px 0 0 white, 3px 3px 0 white, 0 3px 0 white, -3px 3px 0 white, -3px 0 0 white;
}

.colorido span {
    display: inline-block;
}

h4.colorido {
    font-size: 50px !important;
    letter-spacing: -5px;
}

h1.colorido {
    font-size: 65px !important;
    letter-spacing: -6px;
}

.colorido span:nth-child(5n + 1) {
    transform: rotate(-5deg);
    color: #C60612;
}

.colorido span:nth-child(5n + 2) {
    transform: rotate(3deg);
    color: #0C8B3A;
}

.colorido span:nth-child(5n + 3) {
    color: #09AED2;
    transform: rotate(-6deg);
}

.colorido span:nth-child(5n + 4) {
    color: #F6D704;
    transform: rotate(12deg);
}

.colorido span:nth-child(5n + 5) {
    color: #F06100;
    transform: rotate(8deg);
}
