 body {
     background-image: url('../img/fundo.png');
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     height: 100vh;
 }

 .conteudo {
     background: rgba(0, 0, 0, 0.5);
     color: white;
     padding: 40px;
     border-radius: 15px;
 }

 @font-face {
    font-family: 'chewy_bubble';
     src: url(../fontes/chewy_bubble.otf);
 }

 * {
     text-transform: uppercase !important;
     font-family: 'chewy_bubble';
 }