html{
    overflow: hidden;
}

body {
    overflow: hidden;
    background-image: url('../img/fundo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.conteudo {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 40px;
    border-radius: 15px;
}

@font-face {
    font-family: 'chewy_bubble';
    src: url(../fonts/chewy_bubble.otf);
}

* {
    text-transform: uppercase !important;
}

.colorido {
    font-family: 'chewy_bubble', serif;
    margin: 0;
    padding: 0;
    text-shadow: -3px -3px 0 white, 0 -3px 0 white, 3px -3px 0 white, 3px 0 0 white, 3px 3px 0 white, 0 3px 0 white, -3px 3px 0 white, -3px 0 0 white;
    text-align: center;
}

.colorido span {
    display: inline-block;
}

h4.colorido {
    font-size: 45px;
    letter-spacing: -4px;
    line-height: 46px;
}

h1.colorido {
    font-size: 60px;
    letter-spacing: -6px;
    line-height: 50px;
}

.titulo {
    font-size: 40px;
}

@media (min-width: 768px) {
    h4.colorido {
        font-size: 90px;
        line-height:70px;
        letter-spacing: -9px;
    }
    h1.colorido {
        font-size: 120px;
        line-height:80px;
        letter-spacing: -14px;
    }
}

@media (min-width: 1200px) {
    h4.colorido {
        font-size: 130px;
        line-height:100px;
        letter-spacing: -15px;
    }
    h1.colorido {
        font-size: 190px;
        line-height: 135px;
        letter-spacing: -24px;
    }
}

.colorido span:nth-child(5n + 1) {
    color: #ff4d4d;
    transform: rotate(-5deg);
}

.colorido span:nth-child(5n + 2) {
    color: #4da6ff;
    transform: rotate(3deg);
}

.colorido span:nth-child(5n + 3) {
    color: #4dff88;
    transform: rotate(-6deg);
}

.colorido span:nth-child(5n + 4) {
    color: #ffd24d;
    transform: rotate(12deg);
}

.colorido span:nth-child(5n + 5) {
    color: #d24dff;
    transform: rotate(8deg);
}
